{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
{% endblock %}

{% block content %}
<h1>Leaderboard</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Posição</th>
            <th>Usuário</th>
            <th>Grãos Doados</th>
        </tr>
    </thead>
    <tbody>
        {% for user in leaderboard %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.total_points }} grãos</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
