{% extends 'base.html' %}
{% block content %}
<h1>Revisar Perguntas Sugeridas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Pergunta</th>
            <th>Resposta Correta</th>
            <th>Opções</th>
            <th>Tópico</th>
            <th>Série</th>
            <th>Pontos</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for suggestion in suggestions %}
        <tr>
            <td>{{ suggestion[0] }}</td>
            <td>{{ suggestion[12] }}</td>
            <td>{{ suggestion[2] }}</td>
            <td>{{ suggestion[3] }}</td>
            <td>{{ suggestion[4] }}, {{ suggestion[5] }}, {{ suggestion[6] }}, {{ suggestion[7] }}</td>
            <td>{{ suggestion[8] }}</td>
            <td>{{ suggestion[12] }}</td>
            <td>{{ suggestion[10] }}</td>
            <td>
                <a href="{{ url_for('admin.approve_suggestion', suggestion_id=suggestion[0]) }}" class="btn btn-sm btn-success">Aprovar</a>
                <a href="{{ url_for('admin.reject_suggestion', suggestion_id=suggestion[0]) }}" class="btn btn-sm btn-danger">Rejeitar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
